@model BibliotecaJoia.Models.DTO.LivroDto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div class="table-responsive">
    <table class="table table-bordered col-md-3">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td> @Html.DisplayFor(model => model.Id)</td>
            </tr>

            <tr>
                <th scope="row">Nome</th>
                <td>@Html.DisplayFor(model => model.Nome)</td>
            </tr>

            <tr>
                <th scope="row">Autor</th>
                <td>@Html.DisplayFor(model => model.Autor)</td>
            </tr>

            <tr>

                <th scope="row">Editora</th>
                <td>@Html.DisplayFor(model => model.Editora)</td>
            </tr>
        </tbody>
    </table>
</div>

















<div>
    @Html.ActionLink("Atualizar", "Edit", new {  id = Model.Id }) |
    <a asp-action="List">Voltar</a>
</div>
