@model IEnumerable<BibliotecaJoia.Models.DTO.ConsultaEmprestimoDto>

@{
    ViewData["Title"] = "Consulta";
}

<h1>Consulta de Empréstimo de Livro</h1>

<p>
    <a asp-action="Index">Novo Emprestimo Livro</a>
</p>
<table class="table table-striped table-bordered" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Livro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayName("Data do Empréstimo")
            </th>
            <th>
                @Html.DisplayName("Data de Devolução")
            </th>
            <th>
                @Html.DisplayName("Status do Empréstimo")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Livro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmprestimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDevolucao)
            </td>
            <td>
                @if (item.StatusEmprestimoAtual == "Atraso_Devolucao")
                {
                <strong style="color:red">@Html.DisplayFor(modelItem => item.StatusEmprestimoAtual)</strong>  
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.StatusEmprestimoAtual)
                }
            </td>
            <td>
                @Html.ActionLink("Detalhe", "Details", new { id = item.Id, nomeCliente = item.Cliente, nomeLivro = item.Livro, DataEmprestimo = item.DataEmprestimo }, new { @class = "btn btn-info"}) 
            </td>
        </tr>
}
    </tbody>
</table>

