@model BibliotecaJoia.Models.DTO.ClienteDto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div class="table-responsive">
    <table class="table table-bordered col-md-3">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td> @Html.DisplayFor(model => model.Id)</td>
            </tr>

            <tr>
                <th scope="row">Nome</th>
                <td>@Html.DisplayFor(model => model.Nome)</td>
            </tr>

            <tr>
                <th scope="row">CPF</th>
                <td>@Html.DisplayFor(model => model.CPF)</td>
            </tr>

            <tr>

                <th scope="row">E-mail</th>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>

            <tr>

                <th scope="row">Telefone celular</th>
                <td>@Html.DisplayFor(model => model.Fone)</td>
            </tr>
             <tr>

                <th scope="row">Status cliente</th>
                <td>@Html.DisplayFor(model => model.Status)</td>
            </tr>
        </tbody>
    </table>
</div>














<div>
    @Html.ActionLink("Atualizar", "Edit", new { id = Model.Id }) |
    <a asp-action="List">Voltar</a>
</div>
