@model IEnumerable<BibliotecaJoia.Models.DTO.ClienteDto>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "List";
    string login = Context.Session.GetString("_Login");
}

<h1>Cadastro de Clientes</h1>
@if (login != null)
{
<p>
    <a asp-action="Create">Adicionar Cliente</a>
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayName("Telefone celular")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fone)
                </td>
                <td>
                    @if (login != null)
                    {
                        <p>
                            @Html.ActionLink("Atualizar", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Detalhe", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                        </p>

                    }

                </td>
            </tr>
        }
    </tbody>
</table>
